<!-- This is the fundamentals window -->

<div class = "fundamentals_window">
	<div class = "fundamentals_window_box">
		<h1>Fundamental Analysis</h1>	
		<div>Ticker: <span id = "trading_ticker"></span></div>
		<div>Sector: <span id = "sector"></span></div>
		<div>Industry: <span id = "industry"></span></div>

		<div id = "PEGChart" class = "chart"></div>
		<div id = "PEChart" class = "chart"></div>
		<div id = "growth_est" class = "chart"></div>
	</div>
</div>