
<div class="side-image">
  <div class="images-wrapper">
<!--   	<video>
        <source src="/assets/images/Landing3.mp4" type="video/mp4" />
        <source src="/assets/images/Landing3.webm" type="video/webm" />
    </video> -->
  </div>
    <div class="content">

    <h2>Building blocks:</h2>
    <br>
    <br>

    <div class="vertical-tabs-container">
      <div class="vertical-tabs">
        <a href="#" class="js-vertical-tab vertical-tab is-active" rel="tab1">Framework</a>
        <a href="#" class="js-vertical-tab vertical-tab" rel="tab2">Ruby Gems</a>
        <a href="#" class="js-vertical-tab vertical-tab" rel="tab3">JS libraries</a>
        <a href="#" class="js-vertical-tab vertical-tab" rel="tab4">External APIs</a>
      </div>

      <div class="vertical-tab-content-container">
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Item 1</a>
        <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
          <ul>
          	<li>Ruby on Rails!</li>
          </ul>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Item 2</a>
        <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
        	<ul>
        		<li>Twitter gem</li>
        		<li>Whenever</li>
        		<li>Sorcery</li>
        		<li>Bourbon, Neat</li>
        		<li>Httparty</li>
            <li>Figaro</li>
        	</ul>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">Item 3</a>
        <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
        	<ul>
        		<li>Chart.js</li>
        		<li>Highcharts</li>
        		<li>jQuery-UI</li>
        		<li>Advanced news ticker</li>
        		<li>Sparkline</li>
        		<li>Timeago</li>
        		<li>Font awesome</li>
        		<li>Twitter web intents</li>
        	</ul>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">Item 4</a>
        <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
        	<ul>
        		<li>Twitter</li>
        		<li>Yahoo YQL</li>
        	</ul>
        </div>
      </div>
    </div>

  </div>
</div>



