<!-- This is the news part -->

<%= render "/index/top_bar" %>

<!-- <div class = "overview_contents"> -->
		<!-- This is the ticker part -->

		<!-- <div class="grid-item-big">	 -->
			<%= render "/index/ticker_quote" %>
		<!-- </div> -->

		<!-- This is the Twitter window -->
		<!-- <div class="grid-item-big">	 -->
			<%= render "/index/twitter" %>
		<!-- </div> -->

		<!-- This is the fundamentals window -->
		<!-- <div class="grid-item-big">	 -->
			<%= render "/index/fundamentals" %>
		<!-- </div> -->

		<!-- This is the line chart window -->
		<!-- <div class="grid-item-big">	 -->
			<div class = 'line_charting'>
				<div id="container" style="height: 300; width: 400"></div>
			</div>
		<!-- </div> -->


</div>









