
<div class="q_container">
    <%= image_tag "carnegie.gif", :class => "q_image" %>    
    <div class="q_content">
        <p>"Concentrate your energies, your thoughts and your capital. The wise man puts all his eggs in one basket and watches the basket."</p>
        <p id = "author">Andrew Carnegie</p>
    </div>
</div>
<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="content">

    <h2>Rules of Basket-one:</h2>
    <br>
    <p>Basket one provides novice investors a gamified investing experience and let them share their experiences within the Twitter community.  This app intends to promote investing, investing in the stock market not only brings return, but joy and fun when you can tweet about your achievements or grieve...</p>
    <p>This app is a building process and will continue to be updated with new features.</p>
    <p>The trading aspect of this app is a very simplistic form of investing.  Information displayed may not be factural, so please use it with discretion.  Please note that the app does not capture events such as dividend payments and various corport events.  Trading actions are also not trasmitted to or depends on actual stock exchanges.  "Trading" in this app are not confined by actual traing hours and bid/ask spread is ignored.</p>
    <p>Enjoy this app, use it for tracking news, tweets and related information to be aware of investing oppourtunities.  And don't forget to share your two-cents with your friends!</p>
    <p>Invest responsibly.</p>
    <p>Bill Chau</p>
 

  </div>
</div>



