

<p>
  Welcome back, <%= @user.email %>!
</p>

<h2>My favorite 3 stocks:</h2>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Dashboard', root_url %>



<!-- Game profile here -->
<!-- active since -->
<!-- points -->
<!-- I have all my eggs in ?? -->
<!-- type of investor -->
<!-- newb, active, churner, buy-and-hold -->