.fundamentals_window{
	background-image: url(http://www.blogto.com/upload/2010/09/20100926-zTD.jpg);
	width: 590px;
	height: 393px;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
/*	position: absolute;*/
	right: 0px;
	bottom: 0px;	
	float: left;
}

.fundamentals_window_box{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	color: white;
}

#PEGChart{
	display: inline-block;
}

#PEChart{
	display: inline-block;
}

#growth_est{
	display: inline-block;
}