.fundamentals_window{
	@include span-columns(6);
	margin: 0px 2.5px 2.5px 5px;
	background-image: url(http://www.blogto.com/upload/2010/09/20100926-zTD.jpg);
	background-size: cover;
	background-position: bottom;
	padding: 15px;
	overflow: hidden;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.fundamentals_window_box{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	color: white;
	padding: 10px;
	font-weight: bold;
}

#PEGChart{
	display: inline-block;
	margin-left: 23px;
}

#PEChart{
	display: inline-block;
	margin-left: 23px;
}

#growth_est{
	display: inline-block;
	margin-left: 23px;
}