// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter_window{
	float: right;
	margin: 10px;
}

.tweet{
	list-style-type: none;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
	margin: 5px;
}

.profile_pic{
	display: inline-block; 
	float: left;
	height: 70px;
}



.tweet_content{
	margin: 5px;
	word-wrap: break-word;


}

.retweets{
	float: right;
}