// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter_window{
	float: right;
	margin: 10px;
}

li{
	list-style-type: none;
}

.tweet{
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
	margin: 5px;
	width: 40%;
}

.profile_pic{
	float: left;
}

.tweet_content{


}

.retweets{
	float: right;
}