// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter_window{
	float: right;
	margin: 10px;
}

li{
	list-style-type: none;
}

.profile_pic{
	/*	float: left;*/
	display: inline-block; 
}

.tweet{
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border: 1px solid black;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin: 5px;
/*	width: 300px;*/
}


.tweet_content{
	width: 550px !important;
	display: inline-block;
/*	float: right;*/

}

.retweets{
	float: right;
}