<h1>My basket</h1>

<p>Put all your eggs in the one basket and --- WATCH THAT BASKET</p>
<p>Andrew Carnegie</p>

<video controls style="width: 50%; height: auto;">
	<source src="/assets/welcome.mp4" type="video/mpeg">
</video>



